html,body{
    background-image: url('/public/images/bk5.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
    /* image-rendering: -webkit-optimize-contrast; */
    image-rendering: pixelated;
     /* -ms-interpolation-mode: nearest-neighbor; */
    /* background-position:50% 50%; */
    }
    
    .container{
    height: 100%;
    align-content: center;
    }
    
    .card{
    height: 400px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(5, 1, 1, 0.829) !important;
    }
    
    .social_icon span{
    font-size: 60px;
    margin-left: 10px;
    color: #1057db;
    }
    
    .social_icon span:hover{
    color: rgb(235, 76, 76);
    cursor: pointer;
    }
    
    .card-header h3{
    color: white;
    }
    
    .social_icon{
    position: absolute;
    right: 20px;
    top: -45px;
    }
    
    .input-group-prepend span{
    width: 50px;
    background-color: #d41093;
    color: black;
    border:0 !important;
    }
    
    input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
    
    }
    
    .remember{
    color: white;
    }
    
    .remember input
    {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
    }
    
    .login_btn{
    color: black;
    background-color: #0dc42b;
    width: 100px;
    }
    
    .login_btn:hover{
    color: black;
    background-color: rgba(240, 205, 11, 0.835);
    }
    
    .links{
    color: white;
    }
    
    .links a{
    margin-left: 4px;
    }

    p{
        color: red;
        font-weight: 900;
    }